.ajay8{
	height:225px;
	width:auto;
	position:absolute;
	left:10px;  
}

.ajay{
	height:225px;
	width:auto;   
}

.button{

	width:30%;
	height:2rem;
	display:flex-column;
    margin:2px;	
}

.delete{
	height:40px;
	cursor:pointer;
}


